*.snap
*.snap.xdelta*
*.egg-info/
dist/
env/
env*/
.venv/
__pycache__/
*.bz2
environments/
node_modules/
yarn.lock
.vscode/
.dotrun.json

yarn-error.log
.coverage
.eggs/
htmlcov/
.coveragerc
tests/fixtures/yarn-project/package.json
tests/fixtures/python-project/requirements.txt
