name: PR
on: [pull_request]

jobs:
  test-snap:
    runs-on: ubuntu-18.04
    name: Test snap
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Snapcraft
        run: |
          sudo snap install snapcraft --classic
          sudo chown root:root /

      - name: Install dotrun snap
        run: |
          sudo rm -rf /etc/docker
          /snap/bin/snapcraft --destructive-mode
          sudo snap install docker
          sudo snap install --dangerous dotrun_*.snap

      - name: Run tests
        run: |
          pip3 install pexpect
          export PATH=/snap/bin:$PATH
          python3 -m unittest discover --verbose --start-directory tests

      - uses: actions/upload-artifact@v2
        with:
          name: dotrun-snap
          path: dotrun_*.snap

  lint-python:
    runs-on: ubuntu-latest
    name: Lint python

    steps:
      - uses: actions/checkout@v2

      - name: Install system dependencies
        run: |
          python3 -m pip install --upgrade pip
          sudo pip3 install flake8 black
      - name: Lint Python
        run: flake8 . && black --line-length 79 --check .
        
  check-inclusive-naming:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check inclusive naming
        uses: canonical-web-and-design/inclusive-naming@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail-on-error: true
